  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <% if (user) { %>
  <nav>
    <div id="logo-div">
      <a href="/"><img src="/assets/logo.png" alt="butter logo" height="200px" id="nav-logo"></a>
    </div>
    <div id="desktop-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="/recipes">Recipes</a>
          <ul class="dropdown">
            <li>
              <a href="/recipes">All Recipes</a>
            </li>
            <li>
              <a href="/recipes/new">New Recipe</a>
            </li>
            <li>
              <a href="/recipes/instant-import">Import Recipe (beta)</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/cookbooks">Cookbooks</a>
          <ul class="dropdown">
            <li>
              <a href="/cookbooks">My Cookbooks</a>
            </li>
            <li>
              <a href="/cookbooks/new">New Cookbook</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
      </ul>
      <div class="search-logout">
        <form action="/recipes/results" method="post">
          <input type="search" name="q" placeholder="Recipe Search">
          <button type="submit">Search</button>
        </form>
        <a href="/auth/logout" class="">
          <button class="logout-btn" type="submit">Logout</button>
        </a>
        <a href="/users/<%= user.profile._id %>"><img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" width="20px"/></a>
      </div>
    </div>
    <button id="mobile-menu-btn">&#9776;</button>
    <div id="mobile-menu">
      <a href="/">Home</a>
      <a href="/recipes">All Recipes</a>
      <a href="/recipes/new">New Recipe</a>
      <a href="/recipes/instant-import">Import Recipe (beta)</a>
      <a href="/cookbooks">All Cookbooks</a>
      <a href="/cookbooks/new">New Cookbook</a>
      <a href="/users">Users</a>
      <a href="/users/<%= user.profile._id %>">My Profile</a>
      <form id="mobile-menu-search" action="/recipes/results" method="post">
        <input type="search" name="q" placeholder="Recipe Search">
      </form>
      <a href="/auth/logout" class="">
        <button class="logout-btn" type="submit">Logout</button>
      </a>
    </div>
    <% } else { %>
      <nav>
        <div>
          <a href="/"><img src="/assets/logo.png" alt="butter logo" height="200px" id="nav-logo"></a>
        </div>
    <% } %>
      </nav>
