<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1>Sorry, instant importing from this website isn't supported</h1>
<h2>Try searching for a recipe with the searchbar and use the copy recipe feature.</h2>
<h3>Supported Sources</h3>
<ul>
  <li><a href="http://epicurious.com/" target="_blank">Epicurious</a></li>
  <li><a href="http://bonappetit.com" target="_blank">Bon Appetit</a></li>
  <li><a href="http://delish.com" target="_blank">Delish - no image support</a></li>
  <li><a href="http://goodhousekeeping.com" target="_blank">Good Housekeeping - no image support</a></li>
</ul>
<p>More importable sources coming soon!</p>

<%- include('./partials/footer') %>
