<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1>Sorry, instant importing from this website isn't supported</h1>
<h2>Try searching for a recipe with the searchbar and use the copy recipe feature.</h2>

<%- include('./partials/footer') %>
