html {
  box-sizing: border-box;
  background-color: #fff9f3;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #fff9f3;
  color: black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding-bottom: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 60px;
}

#nav-logo {
  margin-top: -50px;
  margin-bottom: -40px;
}

#logo-div {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}

nav div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

nav a {
  font-size: 18px;
  color: #fff9f3;
  margin: auto;
  transition-duration: .5s;
  text-decoration: none;
}

nav a:hover {
  color: #ffd212;
}

nav button {
  background-color: unset;
  border: 0;
  color: white;
  font-size: 18px;
}

nav button:hover {
  color: #ffd212;
  text-decoration: underline;
  cursor: pointer;
}

nav li {
  display: block;
  transition-duration: .5s;
  float: left;
  padding: 1rem;
  position: relative;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: black;
}

ul li ul li {
  clear: both;
  width: 100%;
}

#logo-div a{
  display: flex;
  justify-content: flex-end;
}

nav form {
  width: auto;
  display: inline;
  flex-direction: row;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 15px;
}

nav input {
  width: 300px;
}

nav form button {
  width: auto;
  color: white;
  font-size: 18px;
  transition-duration: .5s;
}

nav form button:hover {
  width: auto;
  text-decoration: underline;
  color: #ffd212;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff9f3;
  color: black;
  margin-bottom: 50px;
}

#log-in-video {
  position: relative;
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#log-in-video video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

#log-in {
  z-index: 1;
  position: relative;
  width: 30%;
  margin-top: 200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(211,211, 211, .3);
  color: white;
  border-radius: 15px;
}

.right {
  margin-left: auto;
  margin-right: 50px;
  position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ingredient-input {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
}

form label {
  font-weight: bold;
  margin-top: 
  25px;
}

.search-logout {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 50px;
  align-content: center;
}

.search-logout img{
  margin-left: 10px;
}

.logout-btn {
  transition-duration: .5s;
}

#mobile-menu-btn {
  visibility: hidden;
  display: none;
}

#mobile-menu {
  visibility: hidden;
  display: none;
}

.delete-cookbook-btn {
  background-color: unset;
  border: 0;
  text-align: center;
  margin-left: 10px;
  margin-top: 0px;
}

.delete-cookbook-btn:hover {
cursor: pointer;
box-shadow: none;
text-decoration: none;
background-color: unset;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  border: 2px solid darkgray;
  margin: 20px;
  text-align: center;
}

.recipe-card img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.recipe-card form {
  margin-left: auto;
  margin-right: auto;
}

.recipe-card button {
  width: 100%;
  background-color: unset;
  border: 0;
  font-size: 16px;
}

.recipe-card button:hover {
  text-decoration: underline;
  background-color: unset;
  box-shadow: none;
  color: black;
}

form button {
  background-color: unset;
  color: black;
  border: 2px solid black;
  font-size: 16px;
  margin-top: 15px;
  padding: 16px 24px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

form button:hover {
  text-decoration: underline;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  background-color: black;
  color: white;
}

.comment-form select {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.comment-form label{
  margin-left: auto;
  margin-right: auto;
}

.comment-form textarea{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.comment-form {
  width: 50%;
}

.cookbooks-table {
  text-align: center;
}

.recipe-show-container {
  width: 80%;
}

/* @media only screen and (max-width: 768px) { */
@media only screen and (max-width: 875px) {
  #log-in-video {
    position: relative;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #log-in-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  
  #log-in {
    z-index: 1;
    position: relative;
    width: 300px;
    height: 200px;
    /* margin-top: 200px;
    padding: 50px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgba(211,211, 211, .3);
    color: white;
    border-radius: 15px;
  }

  nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 60px;
  }
  
  #nav-logo {
    margin-top: -50px;
    margin-bottom: -10px;
  }
  
  #logo-div {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  #desktop-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    display: none;
  }

  #mobile-menu-btn {
    visibility: visible;
    display: block;
    color: white;
    font-size: 48px;
    background-color: black;
    border: 0;
    text-align: end;
    margin-right: 25px;
  }

  #mobile-menu-btn:hover {
    text-decoration: none;
  }

  
  #mobile-menu {
    visibility: hidden;
    display: none;
    width: 100%;
  }

  #mobile-menu.visible {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #mobile-menu-search{
    margin-left: auto;
    margin-right: auto;
  }

  #mobile-menu a{
    font-size: 36px;
  }

  #mobile-menu button{
    font-size: 36px;
    color: white;
    padding: 0;
    margin: 0;
    transition-duration: .5s;
  }

  #mobile-menu button:hover{
    text-decoration: underline;
    color: #ffd212;
  }


  #mobile-menu-search{
    display: flex;
    flex-direction: column;
  }

  #mobile-menu-search input{
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  form button {
    width: 60%;
  }

  .comment-form {
    width: 90%;
  }

  .comment-form textarea{
    width: 100%;
  }

  .recipe-card button {
    width: 100%;
  }

  #results-header {
    display: none;
  }

  .copy-recipe {
    display: none;
  }
}
