<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<form action="/recipes" method="POST">
  <label for="label-input">Name:</label>
  <input type="text" name="label" id="label-input" placeholder="Recipe Name">
  <label for="description-input">Description:</label>
  <textarea name="description" id="description-input" placeholder="Description"></textarea>
  <!-- <div class="ingredient-input">
    <label for="quantity-input">Quantity:</label>
    <input type="number" name="quantity" id="quantity-input" width="25px">
    <label for="unit-input">Unit:</label>
    <select name="unit" id="unit-input">
      <option value="To Taste">To Taste</option>
      <option value="Pinch">Pinch</option>
      <option value="Tea Spoon">Tea Spoon</option>
      <option value="Table Spoon">Table Spoon</option>
      <option value="Cup">Cup</option>
      <option value="Pint">Pint</option>
      <option value="Quart">Quart</option>
      <option value="Gallon">Gallon</option>
      <option value="Oz">Oz</option>
      <option value="Mililiter">Mililiter</option>
      <option value="Liter">Liter</option>
      <option value="Miligram">Miligram</option>
      <option value="Gram">Gram</option>
      <option value="Kilogram">Kilogram</option>
    </select>
    <label for="ingredient-input">Ingredient:</label>
    <input type="text" id="ingredient-input">
    <button>Add Ingredient</button>
  </div> -->
  <label for="ingredients-input">Ingredients:</label>
  <textarea name="ingredients" id="ingredients-input" placeholder="separate ingredients with a comma, one per line"></textarea>
  <label for="instructions-input">Instructions:</label>
  <textarea name="instructions" id="instructions-input" placeholder="separate instructions with a comma, one per line"></textarea>
  <button type="submit">Save Recipe</button>
</form>
</main>

<%- include('../partials/footer') %>
